# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Guess the Celebrity.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\emirk\RiderProjects\Guess the Celebrity\.idea\.idea.Guess the Celebrity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
